<template>
  <div id="app">
    <button @click="toggleLogo">{{showLogo ? 'Hide ' : 'Show '}} Logo</button>
    <hr>
    <img v-show="showLogo" src="./assets/logo.png">
    <router-view/>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  name: 'App',
  created: function () {
    this.$store.dispatch('getFirebaseDB')
  },
  computed: {
    ...mapGetters([
      'showLogo'
    ])
  },
  methods: {
    ...mapActions([
      'toggleLogo'
    ])
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
